<div class="panel panel-primary">
  <div class="panel-heading">Local Authorities Food Higiene by region</div>
  <div class="panel-body">
    Please select authority:
    <div class="input-group">
      <select class="form-control" [(ngModel)]="this.selectedAuthority">
            <option *ngFor="let authority of this.authorieties" [value]="authority.localAuthorityId">{{authority.Name}}</option>
          </select>
      <span class="input-group-btn">
      <input type="button" class="btn btn-primary pull-right" (click)="this.getData()" value="Get report" />
          </span>
    </div>
    <br/>
    <br/>
    <hr>
  </div>
  <div *ngIf="this.scores">
    <table class="table table-hover table-border">
      <tr>
        <th>Rating</th>
        <th>Percentage</th>
      </tr>
      <tr *ngFor="let key of this.ObjectKeys(this.scores.data) ">
        <td>{{key}}</td>
        <td>{{this.scores.data[key] | percent }}</td>
      </tr>
    </table>
  </div>
</div>